:root {
    --primary: #135bec;
    --primary-hover: #0e4bc4;
    --background-base: #f6f6f8;
    --surface: #ffffff;
    --border-light: #eef0f2;
    --text-main: #1a1d23;
    --text-muted: #8a94a6;
}

body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
    background-color: var(--background-base);
    color: var(--text-main);
}